/* :root {
    --main-color: #449DB3 ;
    --secondary-color: #8ECED9;
    --tertiary-color: antiquewhite;
    --accent-color: #0C3F5E;
    --scale: 0.1;
    --space: 8vmin;
} */

/* :root {
    --main-color: #190482 ;
    --secondary-color: #7752FE;
    --tertiary-color: 8E8FFA;
    --accent-color: #C2D9FF;
    --scale: 0.1;
    --space: 8vmin;
} */

:root {
    --main-color: #29067Fff ;
    --secondary-color: #6A0AADff;
    --tertiary-color: #BD00CEff;
    --accent-color: #4FB2FCff;
    --scale: 0.1;
    --space: 8vmin;
}