
.tracklist {
    display: flex;
    flex-direction: column;
    background-color: rgb(138, 43, 226, 50%);
    width: 45%;
    border-radius: 1em;
    color: aliceblue;
    box-shadow: 0px 10px 5px 0px #0908318e;
    gap: 1rem;
    align-items: center;
} 

.tracklist button:active {
    transform: translateY(5px); /* Push the button down by 5 pixels on hover */
  }

.tracklist-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(138, 43, 226, 50%);
    width: 99%;
    border-radius: 1em;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 8px 4px #0908318e;
    @media (max-width: 600px) {
        flex-direction: column;
    }
}

.tracklist h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    height: 5rem;
    box-sizing: border-box;
    border-bottom: solid 2px;
    border-color: rgb(72, 166, 248);
}
 