@import url(../Utilities/StylingVariables.css);

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: var(--main-color); */
}

button:hover {
  background: var(--secondary-color);
}



header {
  background-color: var(--secondary-color);
  padding: 0em 1em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--accent-color);
}

header a {
  color: aliceblue;
}

footer {
  color:aliceblue;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--accent-color);
  text-align: center;
  padding-bottom: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
}

footer a {
  color: var(--accent-color)
}

h1 {
  text-align: center;
  color:antiquewhite;
}

h2 {
  margin-left: 0.5em;
}

h4 {
  color:aliceblue;
}
span {
  color:var(--accent-color);
}

.App-container {
}

.section {
  transform-origin: center top;
  transform: scaleY(calc(1 - var(--scale)));
}

.section > * {
  transform-origin: center top;
  transform: scaleY(calc(1 / (1 - var(--scale))));
}

.image-container {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: -2;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center top;
  min-height: 100vh;
}


.lists-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;  
  align-items: start;
}

.loggedIn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 1em;
}

.loggedIn h4 {
  @media (max-width: 500px) {
   display:none; 
  }
}

.loggedIn button {
  @media (max-width: 500px) {
    min-width: unset;
   }
}

.loggedOut {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.saveButton {
  align-self: center;
  width: 12em;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto 5em auto;
  padding-top: 5em;
}

.searchbar input {
  max-width: 80%;
  background-color: var(--secondary-color);
  color: aliceblue;
  font-size: 2em;
  border: none;
  border-bottom: solid 2px;
  border-color: var(--accent-color);
  margin-bottom: 1em;;
  border-radius: 0.2em;
}

.searchbar button {
  align-self: center;
  width: 12em;
  height: 3em;
  border-radius: 1.5em;
}

.searchMessage {
  color: aliceblue;
  font-size: 1.5em;

}


