html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  min-width: 6em;
  height: 3em;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(72, 166, 248);
  background: rgba(92, 43, 226, 0.2);
}

button:hover {
  background: rgb(151, 88, 209);
}

footer {
  color:aliceblue;
  background-color: rgb(43, 5, 78);
  border-top: 1px solid #969dff;
  text-align: center;
  padding-bottom: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
}

header {
  background-color: rgb(43, 5, 78);
  padding: 0em 1em;
}

header a {
  color: aliceblue;
}

h1 {
  text-align: center;
  color:antiquewhite;
}

h2 {
  margin-left: 0.5em;
}

h4 {
  color:aliceblue;
}
span {
  color:rgb(72, 166, 248)
}

.App {
  background: no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  @media (max-width: 1024px) {
  height: auto; 
  }
}

.App-container {
  padding-bottom: 5em;
}

.lists-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;  
}

.loggedIn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.loggedIn h4 {
  @media (max-width: 500px) {
   display:none; 
  }
}

.loggedIn button {
  @media (max-width: 500px) {
    min-width: unset;
   }
}

.loggedOut {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.saveButton {
  align-self: center;
  width: 12em;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto 5em auto;

}

.searchbar input {
  max-width: 80%;
  background-color: rgb(150, 157, 255, 40%);
  color: aliceblue;
  font-size: 2em;
  border: none;
  border-bottom: solid 2px;
  border-color: rgb(72, 166, 248);
  margin-bottom: 1em;;
  border-radius: 0.2em;
}

.searchbar button {
  align-self: center;
  width: 12em;
  height: 3em;
  border-radius: 1.5em;
}

.searchMessage {
  color: aliceblue;
  font-size: 1.5em;

}


