.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  width: 12em;
  height: 3em;
}

.lists-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}


.playlist {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  width: 30%;
}

.playlistItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistName {
  display: block;
  width: 25em;
  height: 3em;
}

.saveButton {
  align-self: center;
}

.searchbar {
  display: block;
  width: 25em;
  height: 3em;
  margin: auto;
}

.track, .playlistTrack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.tracklist {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 40%;
}
