html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(72, 166, 248);
  background: rgba(92, 43, 226, 0.2);
}

button:hover {
  background: rgb(151, 88, 209);
}

footer {
  color:aliceblue;
  background-color: rgb(43, 5, 78);
  border-top: 1px solid #969dff;
  text-align: center;
  padding-bottom: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3em;
  width: 100%;
}

header {
  background-color: rgb(43, 5, 78);
}

h1 {
  text-align: center;
  color:antiquewhite;
  margin-top: 0em;
}

h2 {
  margin-left: 0.5em;
}

h4 {
  color:aliceblue;
}
span {
  color:rgb(72, 166, 248)
}

.App {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  /* @media (max-width: 768px) {
    height:auto;
  } */
}

.lists-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.playlist {
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 43, 226, 50%);
  width: 40%;
  max-width: 30em;
  border-radius: 1em;
  color: aliceblue;
}

.playlist input {
  background-color: rgb(150, 157, 255, 0%);
  color: aliceblue;
  font-size: 1.5em;
  border: none;
  border-bottom: solid 2px;
  border-color: rgb(72, 166, 248);
  padding: 0.2em;
  margin: 0.2em;
}

.playlist input:focus {
  outline: none;
}

.playlistItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistName {
  display: block;
  width: 25em;
  height: 3em;
}

.removeButton {
  width: 40px;
  min-width: auto;
}
.saveButton {
  align-self: center;
  width: 12em;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto 5em auto;
}

.searchbar input {
  width: 30%;
  background-color: rgb(150, 157, 255, 40%);
  color: aliceblue;
  font-size: 2em;
  border: none;
  border-bottom: solid 2px;
  border-color: rgb(72, 166, 248);
  margin-bottom: 1em;;
}

.searchbar button {
  align-self: center;
  width: 12em;
  height: 3em;
  border-radius: 1.5em;
}

.track, .playlistTrack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0em 1em 1em 1em;
  border-bottom: solid 1px;
  border-color: rgb(72, 166, 248);
}

.track h3, .playlist h3 {
  margin: 0em;
}

.track p, .playlistTrack p {
  color: rgb(203, 207, 211);
  margin: 0em;
}

.tracklist {
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 43, 226, 50%);
  width: 50%;
  max-width: 30em;
  border-radius: 1em;
  color: aliceblue;
}


