@import url(../Utilities/StylingVariables.css);

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
    color: aliceblue;
    grid-area: 1 / 6 / 2 / 8;
    gap: 8px;
}

.playlist button {
    align-self: center;
    background-color: var(--tertiary-color);
    box-shadow: 20px 20px 4px 0px rgba(0, 0, 0, 0.25);
}

.playlist button:active {
    position:relative;
	top:10px;
    left: 10px;
}


.playlist input {
    background-color: var(--secondary-color);
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    border-bottom: solid 2px;
    border-color: var(--accent-color);
    border-radius: 1rem;
    box-sizing: content-box;
    height: 2rem;
    text-align: center;
    @media (max-width: 700px) {
        font-size: 1.5em;
    } 
}

.playlist input:focus {
    outline-color: var(--accent-color);
}

.playlistItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlistName {
    display: block;
    width: 25em;
    height: 3em;
}

.playlistTrack {
    display: grid;
    width: 20.75rem;
    height: 12.5rem;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    border-radius: 1em;
}


.playlistTrack button {
    max-width: none;
    width: 2rem;
    height: 12.5rem;
    border-radius: 0rem 1.25rem 1.25rem 0rem;
    border: 1px solid #75FFF7;
    background: #6DE2FC;
}
